<%= form_with(model: credit_card, local: true) do |form| %>
  <% if credit_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(credit_card.errors.count, "error") %> prohibited this credit_card from being saved:</h2>

      <ul>
      <% credit_card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :customer_id %>

  <table class=" table left no-border ">
    <tbody>
      <tr class="field">
        <td><strong>Name:</strong></td>
        <td><%= form.text_field :name %></td>
      </tr>
      <tr class="field">
        <td><strong>Number:</strong></td>
        <% if @credit_card.number.nil?  %>
          <td><%= form.number_field :number %></td>
        <% else %>
          <td><%= "...#{credit_card.number.to_s[-4..-1]}" %></td>
        <% end %>
      </tr>
      <tr class="field">
        <td><strong>Security:</strong></td>
        <td><%= form.number_field :security %></td>
      </tr>
      <tr class="field">
        <td><strong>Exp Date:</strong></td>
        <td><%= form.date_select :exp_date %></td>
      </tr>
    </tbody>
  </table>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
