<p id="notice"><%= notice %></p>

<h1>Customer</h1>

<div>
  <strong>Name:</strong>
  <%= @customer.name %>
</div>

<div>
  <strong>Email:</strong>
  <%= @customer.email %>
</div>

<div>
  <strong>Phone Number:</strong>
  <%= @customer.phone_number %>
</div>

<div>
  <strong>Notes:</strong>
  <%= @customer.notes %>
</div>

<div>
  <%= link_to 'Edit', edit_customer_path(@customer) %> |
  <%= link_to 'Back', customers_path %>
</div>
