<p id="notice"><%= notice %></p>

<h1>Customer</h1>

<table class=" table left ">
  <tbody>
    <tr>
      <td><strong>Name:</strong></td>
      <td><%= @customer.name %></td>
    </tr>
    <tr>
      <td><strong>Email:</strong></td>
      <td><%= @customer.email %></td>
    </tr>
    <tr>
      <td><strong>Phone Number:</strong></td>
      <td><%= @customer.phone_number %></td>
    </tr>
    <tr>
      <td><strong>Notes:</strong></td>
      <td><pre><%= @customer.notes %></pre></td>
    </tr>
  </tbody>
</table>

<div>
  <%= link_to 'Edit', edit_customer_path(@customer) %>
</div>

<br></br>

<h2>Orders</h2>

<table>
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Process Date</th>
      <th>Expected Ship Date</th>
      <th>Total</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @customer.orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.process_date %></td>
        <td><%= order.expected_ship_date %></td>
        <td><%= number_to_currency(order.total) %></td>
        <td><%= link_to 'View', order %></td>
        <td><%= link_to 'Remove', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Order', new_order_path(id: @customer.id) %>

<br></br>

<h2>Addresses</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @customer.addresses.each do |address| %>
      <tr>
        <td><%= address.name %></td>
        <td><%= link_to 'View', address %></td>
        <td><%= link_to 'Remove', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Address', new_address_path(id: @customer.id) %>

<br></br>

<h2>Credit Cards</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Last 4</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @customer.credit_cards.each do |credit_card| %>
      <tr>
        <td><%= credit_card.name %></td>
        <td><%= "...#{credit_card.number.to_s[-4..-1]}" %></td>
        <td><%= link_to 'View', credit_card %></td>
        <td><%= link_to 'Edit', edit_credit_card_path(credit_card) %></td>
        <td><%= link_to 'Remove', credit_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Credit Card', new_credit_card_path(id: @customer.id) %>
