<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :customer_id %>
  <%#= form.hidden_field :active %>

  <table class=" table left no-border ">
    <tbody>
      <tr class="field">
        <td><strong>Active: </strong></td>
        <td><%= form.check_box :active %></td>
      </tr>
      <tr class="field">
        <td><strong>Process Date: </strong></td>
        <td><%= form.date_select :process_date %></td>
      </tr>
      <tr class="field">
        <td><strong>Expected Ship Date: </strong></td>
        <td><%= form.date_select :expected_ship_date %></td>
      </tr>
    </tbody>
  </table>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
