<p id="notice"><%= notice %></p>

<h1>Order</h1>

<div>
  <strong>Order ID:</strong>
  <%= @order.id %>
</div>

<div>
  <strong>Customer:</strong>
  <%= @order.customer.name %>
</div>

<div>
  <strong>Process date:</strong>
  <%= @order.process_date %>
</div>

<div>
  <strong>Expected ship date:</strong>
  <%= @order.expected_ship_date %>
</div>

<div>
  <%= link_to 'Edit', edit_order_path(@order) %> |
  <%= link_to 'Back', @order.customer %>
</div>
