<p id="notice"><%= notice %></p>

<h1>Order</h1>

<table class=" table left ">
  <tbody>
    <tr>
      <td><strong>Order ID:</strong></td>
      <td><%= @order.id %></td>
    </tr>
    <tr>
      <td><strong>Customer:</strong></td>
      <td><%= link_to @order.customer.name, @order.customer %></td>
    </tr>
    <tr>
      <td><strong>Status: </strong></td>
      <td><%= @order.active ? "Active" : "Inactive" %></td>
    </tr>
    <tr>
      <td><strong>Process date:</strong></td>
      <td><%= @order.process_date %></td>
    </tr>
    <tr>
      <td><strong>Expected ship date:</strong></td>
      <td><%= @order.expected_ship_date %></td>
    </tr>
    <tr>
      <td><strong>Total:</strong></td>
      <td>
        <%= number_to_currency(@order.total) %>
      </td>
    </tr>
    <tr>
      <td><strong>Notes:</strong></td>
      <td><pre><%= @order.notes %></pre></td>
    </tr>
  </tbody>
</table>

<div>
  <%= link_to 'Edit', edit_order_path(@order) %>
</div>

<br></br>

<h2>Payment</h2>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Amount</th>
      <th>Date Due</th>
      <th>Is Paid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order.payments.each do |payment| %>
      <tr>
        <td><%= payment.payment_type.name %></td>
        <td><%= number_to_currency(payment.amount) %></td>
        <td><%= payment.date_due %></td>
        <td><%= payment.is_paid ? "Yes" : "No" %></td>
        <td><%= link_to 'View', payment %></td>
        <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
        <td><%= link_to 'Remove', payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Payment', new_payment_path(id: @order.id) %>

<br></br>

<h2>Order Items</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order.order_items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.quantity %></td>
        <td><%= number_to_currency(item.unit_price) %></td>
        <td><%= number_to_currency(item.quantity * item.unit_price) %></td>
        <td><%= link_to 'View', item %></td>
        <td><%= link_to 'Edit', edit_order_item_path(item) %></td>
        <td><%= link_to 'Remove', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Item', new_order_item_path(id: @order.id) %>

<br></br>

<h2>Packages</h2>

<table>
  <thead>
    <tr>
      <th>Is Shipped?</th>
      <th>Ship Date</th>
      <th>Company</th>
      <th>Tracking</th>
      <th>Charged Customer</th>
      <th>Packing Fee</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order.packages.each do |package| %>
      <tr>
        <td><%= package.is_shipped ? "Yes" : "No" %></td>
        <td><%= package.is_shipped ? package.ship_date : "---" %></td>
        <td><%= package.shipping_company.name %></td>
        <td><%= package.tracking %></td>
        <td><%= number_to_currency(package.charged) %></td>
        <td><%= number_to_currency(package.fee) %></td>
        <td><%= number_to_currency(package.charged + package.fee) %></td>
        <td><%= link_to 'View', package %></td>
        <td><%= link_to 'Edit', edit_package_path(package) %></td>
        <td><%= link_to 'Remove', package, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Package', new_package_path(id: @order.id) %>
