<p id="notice"><%= notice %></p>

<h1>Order</h1>

<div>
  <strong>Order ID:</strong>
  <%= @order.id %>
</div>

<div>
  <strong>Customer:</strong>
  <%= @order.customer.name %>
</div>

<div>
  <strong>Process date:</strong>
  <%= @order.process_date %>
</div>

<div>
  <strong>Expected ship date:</strong>
  <%= @order.expected_ship_date %>
</div>

<div>
  <%= link_to 'Edit', edit_order_path(@order) %> |
  <%= link_to 'Back', @order.customer %>
</div>

<br></br>

<h2>Order Items</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order.order_items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.quantity %></td>
        <td><%= item.unit_price %></td>
        <td><%= item.quantity * item.unit_price %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_order_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Item', new_order_item_path(id: @order.id) %>

<br></br>

<h2>Packages</h2>

<table>
  <thead>
    <tr>
      <th>Is Shipped?</th>
      <th>Ship Date</th>
      <th>Company</th>
      <th>Tracking</th>
      <th>Charged Customer</th>
      <th>Packing Fee</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order.packages.each do |package| %>
      <tr>
        <td><%= package.is_shipped %></td>
        <% if package.is_shipped %>
          <td><%= package.ship_date %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= package.shipping_company.name %></td>
        <td><%= package.tracking %></td>
        <td><%= package.charged %></td>
        <td><%= package.fee %></td>
        <td><%= package.charged + package.fee %></td>
        <td><%= link_to 'Show', package %></td>
        <td><%= link_to 'Edit', edit_package_path(package) %></td>
        <td><%= link_to 'Destroy', package, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Package', new_package_path(id: @order.id) %>
