<%= form_with(model: payment, local: true) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :order_id %>

  <table class=" table left no-border ">
    <tbody>
      <tr class="field">
        <td><strong>Type:</strong></td>
        <td>
          <%= form.select :payment_type_id,
            options_from_collection_for_select(PaymentType.all, :id, :name, @payment.payment_type_id),
            {}, { class: "width-max", "data-target": "credit_card", "data-option": 4, onchange: "hide_credit_card(this)" } %>
        </td>
      </tr>
      <% if @payment.payment_type_id == 4 %>
        <tr id="credit_card" class="field">
      <% else %>
        <tr id="credit_card" class="field" hidden>
      <% end %>
        <td><strong>Credit Card:</strong></td>
        <td><%= form.select :credit_card_id, @payment.get_cards, {}, { class: "width-max" } %></td>
      </tr>
      <tr class="field">
        <td><strong>Amount:</strong></td>
        <td><%= form.text_field :amount %></td>
      </tr>
      <tr class="field">
        <td><strong>Fee:</strong></td>
        <td><%= form.text_field :fee %></td>
      </tr>
      <tr class="field">
        <td><strong>Date Due:</strong></td>
        <td><%= form.date_select :date_due %></td>
      </tr>
      <tr class="field">
        <td><strong>Is Paid:</strong></td>
        <td><%= form.check_box :is_paid %></td>
      </tr>
      <tr class="field">
        <td><strong>Date Paid:</strong></td>
        <td><%= form.date_select :date_paid %></td>
      </tr>
    </tbody>
  </table>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
