<p id="notice"><%= notice %></p>

<h1>Payment</h1>

<table class=" table left ">
  <tbody>
    <tr>
      <td><strong>Order ID:</strong></td>
      <td><%= link_to @payment.order.id, @payment.order %></td>
    </tr>
    <tr>
      <td><strong>Type:</strong></td>
      <td><%= @payment.payment_type.name %></td>
    </tr>
    <tr>
      <td><strong>Amount:</strong></td>
      <td><%= @payment.amount %></td>
    </tr>
    <tr>
      <td><strong>Fee:</strong></td>
      <td><%= @payment.fee %></td>
    </tr>
    <tr>
      <td><strong>Date Due:</strong></td>
      <td><%= @payment.date_due %></td>
    </tr>
    <tr>
      <td><strong>Is Paid:</strong></td>
      <td><%= @payment.is_paid ? "Yes" : "No" %></td>
    </tr>
    <tr>
      <td><strong>Date Paid:</strong></td>
      <td><%= @payment.date_paid %></td>
    </tr>
  </tbody>
</table>

<div>
  <%= link_to 'Edit', edit_payment_path(@payment) %>
</div>
