<%= form_with(model: address, local: true) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :customer_id %>

  <table class=" table left no-border ">
    <tbody>
      <tr>
        <td><strong>Name:</strong></td>
        <td><%= form.text_field :name %></td>
      </tr>
      <tr>
        <td><strong>Attn:</strong></td>
        <td><%= form.text_field :attention %></td>
      </tr>
      <tr>
        <td><strong>Street:</strong></td>
        <td><%= form.text_field :street %></td>
      </tr>
      <tr>
        <td><strong>Town:</strong></td>
        <td><%= form.text_field :town %></td>
      </tr>
      <tr>
        <td><strong>State:</strong></td>
        <td><%= form.text_field :state %></td>
      </tr>
      <tr>
        <td><strong>Zip:</strong></td>
        <td><%= form.text_field :zip_code %></td>
      </tr>
    </tbody>
  </table>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
