<%= form_with(model: address, local: true) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :customer_id %>

  <div>
    <strong>Name:</strong>
    <%= form.text_field :name %>
  </div>

  <div>
    <strong>Attn:</strong>
    <%= form.text_field :attention %>
  </div>

  <div>
    <strong>Street:</strong>
    <%= form.text_field :street %>
  </div>

  <div>
    <strong>Town:</strong>
    <%= form.text_field :town %>
  </div>

  <div>
    <strong>State:</strong>
    <%= form.text_field :state %>
  </div>

  <div>
    <strong>Zip:</strong>
    <%= form.text_field :zip_code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
