<p id="notice"><%= notice %></p>

<h1>Address</h1>

<table class=" table left ">
  <tbody>
    <tr>
      <td><strong>Customer:</strong></td>
      <td><%= link_to @address.customer.name, @address.customer %></td>
    </tr>
    <tr>
      <td><strong>Name:</strong></td>
      <td><%= @address.name %></td>
    </tr>
    <tr>
      <td><strong>Attn:</strong></td>
      <td><%= @address.attention %></td>
    </tr>
    <tr>
      <td><strong>Street:</strong></td>
      <td><%= @address.street %></td>
    </tr>
    <tr>
      <td><strong>Town:</strong></td>
      <td><%= @address.town %></td>
    </tr>
    <tr>
      <td><strong>State:</strong></td>
      <td><%= @address.state %></td>
    </tr>
    <tr>
      <td><strong>Zip:</strong></td>
      <td><%= @address.zip_code %></td>
    </tr>
  </tbody>
</table>

<div>
  <%= link_to 'Edit', edit_address_path(@address) %>
</div>
