<p id="notice"><%= notice %></p>

<h1>Address</h1>

<div>
  <strong>Name:</strong>
  <%= @address.name %>
</div>

<div>
  <strong>Attn:</strong>
  <%= @address.attention %>
</div>

<div>
  <strong>Street:</strong>
  <%= @address.street %>
</div>

<div>
  <strong>Town:</strong>
  <%= @address.town %>
</div>

<div>
  <strong>State:</strong>
  <%= @address.state %>
</div>

<div>
  <strong>Zip:</strong>
  <%= @address.zip_code %>
</div>

<div>
  <%= link_to 'Edit', edit_address_path(@address) %> |
  <%= link_to 'Back', @address.customer %>
</div>
