<p id="notice"><%= notice %></p>

<h1>Order Item</h1>

<table class=" table left ">
  <tbody>
    <tr>
      <td><strong>Order ID:</strong></td>
      <td><%= @order_item.order.id %></td>
    </tr>
    <tr>
      <td><strong>Name:</strong></td>
      <td><%= @order_item.name %></td>
    </tr>
    <tr>
      <td><strong>Quantity:</strong></td>
      <td><%= @order_item.quantity %></td>
    </tr>
    <tr>
      <td><strong>Unit price:</strong></td>
      <td><%= @order_item.unit_price %></td>
    </tr>
    <tr>
      <td><strong>Details:</strong></td>
      <td><%= @order_item.details %></td>
    </tr>
  </tbody>
</table>

<div>
  <%= link_to 'Edit', edit_order_item_path(@order_item) %> |
  <%= link_to 'Back', @order_item.order %>
</div>
