<!DOCTYPE html>
<html>
  <head>
    <title>Clampusystems</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= link_to 'Orders', orders_path %> | 
      <%= link_to 'Customers', customers_path %> | 
      <%= link_to 'Shipping Co.\'s', shipping_companies_path %>
    </div>
    <%= yield %>
  </body>
</html>
